@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Roboto|Roboto+Mono:100,300,400');

/*// font-family: 'IBM Plex Mono', monospace;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Roboto', sans-serif;*/

body {
  background: #0E0E0E;
  margin: 0;
  padding: 0;
  background-attachment: fixed; /* Fija el fondo al desplazarse */
 height: 100vh; /* Ajusta esto según tus necesidades */
 font-family: 'Roboto', sans-serif;
 cursor: crosshair;
}

.title{
    color: white;
    padding: 1em;
}

.wrapper {
  width: 100%;
  height: 100vh;
}

.cabecera {
  background-color: #2196F3;
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
  font-weight: bold;

}

.header {
    background-color: #2196F3;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: crosshair;
    padding: 1em;
    font-weight: bold;
    position: sticky;
    top: 0;
  }

.principal {
    display: grid;
    background-color: white;
    height: 100%;
    grid-template-columns: repeat(3, 1fr);
    padding: 1em;
    gap: 1em;
  }

.card{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 1em;
    cursor: pointer;
    transition: all 1s;
}

.card:hover{
    background-size: 120%;
}

.modal {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    width: 90vw;
    height: 90vh;
    position: fixed;
    z-index: 10;
    background-color: #2196F3;
    top: 5vh;
    left: 5vw;
    box-shadow: 0px 0px 8px 3px black;
    margin: 0px;
    padding: 5em;
    padding-top: 1em;
    box-sizing: border-box;
    justify-content: center;
    align-content: space-between;
}

.modal .text{
    width: 45%;
}
.modal .img {
    width: 50%;
    display: flex;
    justify-content: center;
}

.modal #close{
    width: 100%;
    height: 50px;
}

.modal img{
    width: 60%;
}

.modal #close{
    background: white;
    color: black;
    border: 1px black;
    font-weight: bold;
    transition: all 0.5s;
    min-height: 25px
}

.modal #close:hover{
    background: black;
    color: white;
    border: 1px white;
}

/* Index */

.container{
    background-color: #2196F3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1em;
    height: 100%;
}
.contenedor {
    width: 50%;
}
.extra {
    width: 50%;
}

.botones{
    width: 100%;
}

.boton{
    background-color: white;
    text-align: center;
}
/* Resto */
.fondo {
   width: 90%;
    transition: all ease .45s;
    background-color: white;
  }

.fondo:hover{
  width: 100%;
}

.titulo {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1px;
  border-bottom: 1px solid #FFF;
}

 .titulo span {
  color: #2196F3;
  display: block;
}

.header .menu {
  position: relative;
  border-bottom: 1px solid #FFF;
  border-left: 1px solid #FFF;
  display: flex;
}

.header .normativa {
  background: #FFF;
  color: #2196F3;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 10px 20px;
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  bottom: -30px;
}

.header .staff {
 display: flex;
  justify-content: right;
  height: 100%;
  padding: 20px;
  text-align: right;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1px;
  text-decoration: none;
}

.abecera .staff span {
  cursor: pointer;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFF;
  text-decoration: none;
}



.header .frase {
  position: relative;
}

.header .texto {
  width: 350px;
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 200px;
  left: -145px;
}

.header .datos {
  /*background: #FFF;*/
  width: 250px;
  height: 280px;
  /*position: relative;*/
  z-index: 200;
  top: 60px;
  padding: 40px;
}
 .titulo {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 1px;
}

 .titulo span {
  font-size: 20px;
  display: block;
  color: #000;
  line-height: 7px;
}

.boton {
  display: grid;
  grid-gap: 5px;
  padding: 0px 0 20px;
  font-family: 'Roboto Mono', monospace;
  font-size: 18px;
  color: #9E9E9E;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  word-spacing: 1px;
}

.header .activa {
  color: #000;

}

.header .extra {
  border-left: 1px solid #FFF;
}
.img1 {
  margin-top: 15px;
  margin-left: 15px;
}
.info{
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  margin-top: 35px;
  
}
.boton:hover {
    color: #5002ec;
}
.staff:hover {
  color: #5002ec;
}
.contacto {
  margin-top: -302px; 
  padding: 151px;
  background-color: #FFF;
  color: #000;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
}

.informacion-contacto {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.informacion-contacto p {
  margin: 0;
  font-size: 12px;
}

/*  Mediaquery */

@media (max-width: 1023px){
    .principal{
        grid-template-columns: repeat(1, 1fr);
        /*grid-template-rows: repeat(3, 1fr);*/
        gap: 1em 0em;
    }

    .card{
        grid-row: span 1!important;
        grid-column: span 1!important;
    }

    .modal {
        width: 100vw;
        height: 100vh;
        top: 0vh;
        left: 0vw;
        margin: 0px;
    }

    .modal .text{
        width: 100%;
    }
    .modal .img{
        width: 100%;
    }

    .modal .img img{
        width: 45%;
    }
    .contenedor {
        width: 100%;
    }
    .extra {
        width: 100%;
    }
}

@media (max-width: 767px){
    .modal .img img{
        width: 70%;
    }
}